<li class="nav-item">
  <br>
  <br>
  <%= link_to accounts_path, class: "nav-link" do %>
    Accounts <span class="sr-only">(current)</span>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to properts_path, class: "nav-link" do %>
    <i data-feather= "package"></i>
    Properties
  <% end %>
</li>
<li class="nav-item">
  <%= link_to posts_path, class: "nav-link" do %>
    <i data-feather= "calendar"></i>
    Blog Posts
  <% end %>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <i data-feather="users"></i>
    Advertisement
  </a>
</li>