// Place all the styles related to the Properts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.propert-thumb{


}
.propert-main-photo{
  padding-top: 0px;
  height:  500px;
  background-size: cover;
  margin-bottom: 40px;
  padding-top: 56px;
}
#prop-details {
  height: 150px;
  overflow: hidden;
}