#notifications {
  display:none;
}

.body {
  padding-top: 56px;
}

.img-circle {
  border-radius: 50%;
}

#home-banner .jumbotron{
  background: image-url("banners/banner2.jpg") no-repeat center center;
  background-size: cover;
}

#blog-banner .jumbotron{
  background: image-url("banners/banner1.jpg") no-repeat center center;
  background-size: cover;
}

.main-banner .jumbotron{
  h1, p {
    color: #fff;
    text-shadow: 1px 1px 1px #777;
  }
}