<main role="main" id="home-banner">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Search for your new home today...</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><%= link_to "View latest properties", new_account_session_path, class: "btn btn-success btn-lg" %></p>

    </div>
  </div>

  <section id="lastest-properties" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="mb-4">Latest Propeties</h3>
        </div>
      </div>
      <div class="row">
        <%= render "properts/list", properts: @properts %>
      </div>
    </div>
  </section>

  <section id="lastest-post" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="mb-4">Latest News</h3>
        </div>
      </div>
      <div class="row">
        <%= render "posts/list", posts: @posts %>
      </div>
    </div>

  </section>

</main>